/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7c6f61;
$dark-gray                  : #2d231b;
$darker-gray                : #1b150f;
$light-gray                 : #7f715e;
$lighter-gray               : #e6dccd;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : color 0.24s ease, background-color 0.28s ease, border-color 0.28s ease, opacity 0.28s ease, box-shadow 0.32s ease;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$gray};
    --global-bg-color                   : #ffffff;
    --global-footer-bg-color            : #f7f7f5;
    --global-border-color               : #{$lighter-gray};
    --global-dark-border-color          : #c7b7a0;
    --global-code-background-color      : #f6f3ee;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);
    --global-link-color                 : #7b5a2e;
    --global-link-color-hover           : #4d371d;
    --global-link-color-visited         : #6c4f2a;
    --global-masthead-link-color        : #{$dark-gray};
    --global-masthead-link-color-hover  : #4d371d;
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #ede4d7;
}
